<template>
    <el-header class="is-header" :style="{left: isCollapse ? '70px' : '200px'}">
        <el-dropdown trigger="click" @command="handleCommand">
            <i class="el-icon-setting" style="margin-right: 15px"></i>
            <el-dropdown-menu slot="dropdown">
                <el-dropdown-item>ChangePassword</el-dropdown-item>
                <el-dropdown-item command="onLogout">Logout</el-dropdown-item>
            </el-dropdown-menu>
        </el-dropdown>
    </el-header>
</template>

<script>
    import {mapActions} from 'vuex'

    export default {
        props: {
            isCollapse: {
                type: Boolean,
                default: true
            }
        },
        methods: {
            ...mapActions({
                logout: 'auth/logout'
            }),
            onLogout() {
                this.logout();
            },
            handleCommand(command) {
                if (command == 'onLogout') this.onLogout()
            }
        },
    }
</script>

<style scoped>
    .is-header {
        height: 60px;
        text-align: right;
        font-size: 12px;
        position: fixed;
        z-index: 100;
        right: 0;
        transition: all .5s;
        background: #fff;
    }
</style>
