<template>
    <el-aside :width="isCollapse ? '70px' : '200px'" class="el-side-bar">
        <div class="logo">ITO</div>

        <el-menu default-active="2" class="el-menu-vertical" :collapse="isCollapse" :router="true">
            <template v-for="(item, key) in menus">
                <template v-if="item.children">
                    <el-submenu :index="'parent'+key">
                        <template slot="title">
                            <i :class="item.icon"></i>
                            <span slot="title">{{$i(item.name)}}</span>
                        </template>
                        <el-menu-item v-for="(v, k) in item.children" :key="'children'+k" :index="v.link">{{v.name}}</el-menu-item>

<!--                        Sử dụng trong trường hợp tree menu-->
<!--                        <el-submenu index="1-4">-->
<!--                            <span slot="title">item four</span>-->
<!--                            <el-menu-item index="1-4-1">item one</el-menu-item>-->
<!--                        </el-submenu>-->

                    </el-submenu>
                </template>
                <template v-else>
                    <el-menu-item :index="item.link">
                        <i :class="item.icon"></i>
                        <span slot="title">{{$i(item.name)}}</span>
                    </el-menu-item>
                </template>
            </template>
        </el-menu>

        <el-button type="text" class="btn-block bg-white"
                   style="position: absolute; bottom: 60px"
                   @click="$emit('onChangeCollapse', !isCollapse)">
            <i class="mdi mdi-unfold-more-vertical" v-if="isCollapse"></i>
            <i class="mdi mdi-unfold-less-vertical" v-else></i>
        </el-button>
    </el-aside>
</template>

<script>
    export default {
        data() {
            return {
                menus: [
                    {
                        name: 'Role',
                        icon: 'el-icon-guide',
                        link: '/role',
                    },
                    {
                        name: 'User',
                        icon: 'el-icon-user',
                        link: '/user',
                    },
                    {
                        name: 'Config',
                        icon: 'el-icon-setting',
                        link: '/config',
                    },
                    {
                        name: 'Resource',
                        icon: 'el-icon-folder',
                        children: [
                            {name: 'InternationalCode', link: '/resource/internationalCode'},
                            {name: 'Address', link: '/resource/address'},
                            {name: 'ReferenceSource', link: '/resource/referenceSource'},
                            {name: 'Job', link: '/resource/job'},
                            {name: 'Holiday', link: '/resource/holiday'},
                            {name: 'LiveWith', link: '/resource/liveWith'},
                            {name: 'Children', link: '/resource/children'},
                            {name: 'ChildrenDesire', link: '/resource/childrenDesire'},
                            {name: 'Marriage', link: '/resource/marriage'},
                            {name: 'WhenMarry', link: '/resource/whenMarry'},
                            {name: 'Cigarette', link: '/resource/cigarette'},
                            {name: 'Education', link: '/resource/education'},
                            {name: 'National', link: '/resource/national'},
                            {name: 'PayForFirstTime', link: '/resource/payForFirstTime'},
                            {name: 'DatingDesire', link: '/resource/datingDesire'},
                            {name: 'Blood', link: '/resource/blood'},
                            {name: 'Body', link: '/resource/body'},
                            {name: 'FamilyRelation', link: '/resource/familyRelation'},
                            {name: 'Style', link: '/resource/style'},
                            {name: 'MemberLanguage', link: '/resource/memberLanguage'},
                            {name: 'PaperType', link: '/resource/paperType'},
                            {name: 'Wine', link: '/resource/wine'},
                            {name: 'Income', link: '/resource/income'},
                            {name: 'ReportType', link: '/resource/reportType'},
                            {name: 'ReportField', link: '/resource/reportField'},
                        ]
                    },
                    {
                        name: 'Community',
                        icon: 'el-icon-connection',
                        children: [
                            {name: 'CategoryGroup', link: '/community/categoryGroup'},
                            {name: 'Category', link: '/community/category'},
                            {name: 'Community', link: '/community'},
                        ]
                    },
                    {
                        name: 'MemberAuto',
                        icon: 'el-icon-male',
                        children: [
                            {name: 'ListMemberAuto', link: '/member/memberAuto'},
                        ]
                    },
                    {
                        name: 'MemberManual',
                        icon: 'el-icon-female',
                        children: [
                            {name: 'ListMemberManual', link: '/member/memberManual'},
                        ]
                    },
                    {
                        name: 'QuickSearch',
                        icon: 'el-icon-search\n',
                        link: '/quickSearch'
                    },
                ]
            };
        },
        props: {
            isCollapse: {
                type: Boolean,
                default: true
            }
        },
        methods: {}
    }
</script>

<style>
    .logo {
        width: 100%;
        height: 60px;
        line-height: 60px;
        text-align: center;
        background: #f0f4f8;
        font-size: 28px;
    }
    .el-menu.el-menu--popup {
        overflow-y: auto;
        max-height: 100vh;
    }
    ::-webkit-scrollbar {
        width: 6px;
        height: 6px;
        display: block
    }

    ::-webkit-scrollbar-thumb {
        background: rgba(144, 147, 153, .3);
        border-radius: 5px;
    }

    ::-webkit-scrollbar-thumb:hover {
        background: rgba(144, 147, 153, .4);
    }
</style>
