<template>
    <div v-if="objData">
        <div class="form-group">
            <label>{{$i('Cover')}}</label>
            <UploadImage :src="objData.avatar" @upload="objData.avatar = $event" type="avatar"/>
        </div>
        <div class="form-group">
            <label>{{$i('Name')}}</label>
            <input type="text" class="form-control" v-model="objData.name">
        </div>
        <div class="form-group">
            <label>{{$i('Category')}}</label>
            <select v-model="objData.categoryId" class="form-control">
                <option v-for="(v, k) in dataCategory" :key="'category_'+k" :value="v.id">
                    {{v.name}}
                </option>
            </select>
        </div>
        <div class="form-group">
            <label>{{$i('Order')}}</label>
            <input type="text" class="form-control" v-model="objData.order">
        </div>
        <div class="form-group">
            <label>{{$i('IsAuthen')}}</label>
            <select v-model="objData.isAuthen" class="form-control">
                <option value="1">{{$i('isAuthen')}}</option>
                <option value="0">{{$i('isNotAuthen')}}</option>
            </select>
        </div>
        <div class="form-group" v-if="objData.id">
            <label>{{$i('Status')}}</label>
            <select class="form-control" v-model="objData.status">
                <option :value="0">{{$i('Hide')}}</option>
                <option :value="1">{{$i('Show')}}</option>
            </select>
        </div>
        <div class="form-group">
            <button class="btn btn-primary" @click="onCreateOrUpdate">
                {{objData.id > 0 ? $i('Update') : $i('Save')}}
            </button>
        </div>
    </div>
</template>

<script>
    import {mapActions} from 'vuex'

    export default {
        props: ['id'],
        components: {
            UploadImage: () => import('~/components/Share/UploadImage')
        },
        data() {
            return {
                objData: {
                    id: 0,
                    name: '',
                    categoryId: '',
                    order: '',
                    avatar: '',
                    description: '',
                },
                dataCategory: null,
            }
        },
        methods: {
            ...mapActions({
                detail: 'community/detail',
                update: 'community/update',
                add: 'community/add',
                searchCategory: 'community/category/searchCategory',
            }),
            getDetail() {
                if (!this.id) return;
                this.detail({id: this.id})
                    .then(res => {
                        this.objData = res.data;
                    })
                    .catch(err => {
                        this.$notify.error({
                            message: err.message,
                            type: 'success'
                        });
                    })
            },
            getCategory() {
                let obj = {
                    status: 1,
                    pageIndex: 1,
                    pageSize: 100,
                }
                this.searchCategory(obj).then(res => {
                    this.dataCategory = res.data
                })
            },
            onCreateOrUpdate() {
                let path = 'add';
                let message = 'AddSuccessfully'
                if (this.objData.id) {
                    path = 'update';
                    message = 'UpdateSuccessfully';
                }
                this[path](this.objData)
                    .then(() => {
                        this.$notify.success({
                            message: this.$i(message),
                            type: 'success'
                        });
                        this.$emit('close')
                    })
                    .catch(err => {
                        this.$notify.error({
                            message: err.message,
                            type: 'success'
                        });
                    })
            }
        },
        mounted() {
            this.objData.id = this.id;
            this.getCategory();
            this.getDetail()
        }
    }
</script>

<style scoped>

</style>
