<template>
    <div>
        <el-page-header class="mb-3" @back="$router.push('/')" :content="$i('MemberAuto')"></el-page-header>
        <el-card>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-2">
                        <input type="text" class="form-control" v-model="objData.keyword" :placeholder="$i('Keyword')">
                    </div>
                    <div class="col-md-2">
                        <select v-model="objData.gender" class="form-control">
                            <option value="-1">{{$i('Gender')}}</option>
                            <option value="1">{{$i('Male')}}</option>
                            <option value="2">{{$i('Female')}}</option>
                        </select>
                    </div>
                    <div class="col-md-2">
                        <el-input-number size="medium" style="width: 100%" v-model="objData.ageFrom" :min="18"
                                         :max="50"></el-input-number>
                    </div>
                    <div class="col-md-2">
                        <el-input-number size="medium" style="width: 100%" v-model="objData.ageTo" :min="18"
                                         :max="50"></el-input-number>
                    </div>
                    <div class="col-md-2">
                        <select v-model="objData.authenStatus" class="form-control">
                            <option value="-1">{{$i('AuthenStatus')}}</option>
                            <option value="0">{{$i('NotAuthenticated')}}</option>
                            <option value="1">{{$i('Endorsed')}}</option>
                            <option value="2">{{$i('AwaitingAuthentication')}}</option>
                            <option value="3">{{$i('AuthenticatedFailed')}}</option>
                        </select>
                    </div>
                    <div class="col-md-2">
                        <select v-model="objData.status" class="form-control">
                            <option value="-1">{{$i('Status')}}</option>
                            <option value="0">{{$i('Hide')}}</option>
                            <option value="1">{{$i('Show')}}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <table class="table table-hover table-responsive">
                    <thead>
                    <tr>
                        <th>{{$i('Index')}}</th>
                        <th>{{$i('Avatar')}}</th>
                        <th>{{$i('NickName')}}</th>
                        <th>{{$i('Email')}}</th>
                        <th>{{$i('Mobile')}}</th>
                        <th>{{$i('BirthDay')}}</th>
                        <th>{{$i('LikeCount')}}</th>
                        <th class="text-center" width="100">{{$i('Active')}}</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="(v, k) in data" :key="k">
                        <td>{{v.rowNum}}</td>
                        <td><img :src="v.avatar50"></td>
                        <td>
                            <a href="javascript:" @click="$router.push('/member/memberAuto/detail/' + v.id)">{{v.nickName}}</a>
                        </td>
                        <td>{{v.email}}</td>
                        <td>{{v.mobile}}</td>
                        <td>{{v.birthday | moment('DD/MM/YYYY')}}</td>
                        <td>
                            <el-popover
                                    placement="right"
                                    width="200"
                                    trigger="click">
                                <div class="input-group">
                                    <input type="text" class="form-control" v-model="v.likeCount">
                                    <el-button type="info" icon="el-icon-upload2"
                                               :loading="loading == 'ChangeLikeCount'"
                                               @click="onChangeLikeCount(v)">
                                    </el-button>
                                </div>
                                <div slot="reference">{{v.likeCount}}</div>
                            </el-popover>
                        </td>
                        <td class="text-center">
                            <el-switch :value="v.status == 1" @change="onChangeStatus(v)"></el-switch>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <el-pagination background
                               @current-change="objData.pageIndex = $event"
                               :total="totalRow"
                               :page-count="objData.pageIndex"
                               :pageSize="objData.pageSize"/>
            </div>
        </el-card>
    </div>
</template>

<script>
    import {mapActions} from 'vuex'

    export default {
        data() {
            return {
                objData: {
                    keyword: '',
                    gender: -1,
                    status: 1,
                    ageFrom: 18,
                    ageTo: 50,
                    authenStatus: -1,
                    pageIndex: 1,
                    pageSize: 10,
                },
                data: null,
                id: 0,
                totalRow: 0,
                loading: ''
            }
        },
        watch: {
            'objData.keyword'(val) {
                this.onWatchData(val)
            },
            'objData.ageFrom'(val) {
                this.onWatchData(val, 1000)
            },
            'objData.ageTo'(val) {
                this.onWatchData(val, 1000)
            },
            'objData.status'() {
                this.getData();
            },
            'objData.pageIndex'() {
                this.getData();
            },
            'objData.gender'() {
                this.getData();
            },
            'objData.authenStatus'() {
                this.getData();
            },
        },
        methods: {
            ...mapActions({
                search: 'member/memberAuto/search',
                changeStatus: 'member/memberAuto/changeStatus',
                changeLikeCount: 'member/memberAuto/changeLikeCount',
            }),
            getData() {
                this.search(this.objData)
                    .then(res => {
                        this.data = res.data;
                        this.totalRow = res.totalRow
                    })
                    .catch(err => {
                        this.$notify.error({
                            message: err.message,
                            type: 'success'
                        });
                    })
            },
            onWatchData(val, delay = 500) {
                clearTimeout(this.timeDelay);
                this.timeDelay = setTimeout(() => {
                    this.objData.name = val
                    this.getData();
                }, delay)
            },
            onChangeStatus(value) {
                let obj = {...value};
                obj.status = obj.status == 1 ? 0 : 1;
                obj.memberId = obj.id;
                this.changeStatus(obj)
                    .then(() => {
                        this.$notify({
                            type: 'success',
                            title: 'Success',
                            message: this.$i('ChangeSuccessfully')
                        });
                        this.getData();
                    })
                    .catch(err => {
                        this.$notify.error({
                            message: err.message,
                            type: 'success'
                        });
                    })
            },
            onChangeLikeCount(value) {
                this.loading = 'ChangeLikeCount'
                value.memberId = value.id;
                this.changeLikeCount(value)
                    .then(() => {
                        this.$notify({
                            type: 'success',
                            title: 'Success',
                            message: this.$i('ChangeSuccessfully')
                        });
                    })
                    .catch(err => {
                        this.$notify.error({
                            message: err.message,
                            type: 'success'
                        });
                    })
                    .finally(() => {
                        this.loading = '';
                    })
            }
        },
        mounted() {
            this.getData();
        }
    }
</script>

<style scoped>

</style>
