<template>
    <div class="container-scroller">
        <div class="container-fluid page-body-wrapper full-page-wrapper auth-page">
            <div class="content-wrapper d-flex align-items-center auth auth-bg-1 theme-one">
                <div class="row w-100">
                    <div class="col-lg-4 mx-auto">
                        <div class="auto-form-wrapper">
                            <div>
                                <div class="form-group">
                                    <label class="label">Username</label>
                                    <div class="input-group">
                                        <input type="text" class="form-control"
                                               v-model="objData.username">
                                        <div class="input-group-append">
                                          <span class="input-group-text">
                                            <i class="mdi mdi-check-circle-outline"></i>
                                          </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="label">Password</label>
                                    <div class="input-group">
                                        <input type="password"
                                               class="form-control"
                                               v-model="objData.password">
                                        <div class="input-group-append">
                                          <span class="input-group-text">
                                            <i class="mdi mdi-check-circle-outline"></i>
                                          </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="label">Captcha</label>
                                    <div class="input-group">
                                        <input type="text"
                                               class="form-control"
                                               v-model="objData.captcha">
                                        <div class="input-group-append">
                                          <span class="input-group-text">
                                            <i class="mdi mdi-check-circle-outline"></i>
                                          </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div v-html="dataCaptcha"></div>
                                </div>
                                <div class="form-group">
                                    <button class="btn btn-primary submit-btn btn-block" @click="onLogin">Login</button>
                                </div>
                            </div>
                        </div>
                        <p class="footer-text text-center">copyright © {{year}} Bootstrapdash. All rights reserved.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import {mapActions} from 'vuex'

    export default {
        layout: 'login',
        data() {
            return {
                objData: {
                    username: '',
                    password: '',
                    captcha: '',
                    md5Captcha: ''
                },
                dataCaptcha: ''
            }
        },
        computed: {
            year() {
                let d = new Date();
                return d.getFullYear();
            }
        },
        methods: {
            ...mapActions({
                login: 'auth/login',
                getCaptcha: 'auth/getCaptcha',
            }),
            onLogin() {
                this.login(this.objData).catch(err => {
                    this.$notify.error({
                        title: 'Error',
                        message: err.message
                    })
                })
            }
        },
        mounted() {
            this.getCaptcha()
                .then(res => {
                    this.objData.md5Captcha = res.content
                    this.dataCaptcha = res.data
                })
                .catch(err => {
                    this.$notify.error({
                        message: err.message,
                        type: 'success'
                    });
                })
        }
    }
</script>

<style scoped>

</style>
