<template>
    <div>
        <el-page-header class="mb-3" @back="$router.push('/')" :content="$i('Language')"></el-page-header>
        <Languages />
        <div class="mt-3"></div>
        <LanguageStatic />
    </div>
</template>

<script>
    export default {
        components: {
            Languages: () => import('~/components/Language/Languages'),
            LanguageStatic: () => import('~/components/Language/LanguageStatic'),
        }
    }
</script>

<style scoped>

</style>
