<template>
    <div>
        <div class="form-group">
            <label>{{$i('NewPassword')}}</label>
            <input type="password" class="form-control" v-model="objData.password">
        </div>
        <div class="form-group">
            <button class="btn btn-primary" @click="update">{{$i('Update')}}</button>
        </div>
    </div>
</template>

<script>
    import {mapActions} from 'vuex'

    export default {
        props: ['data'],
        data() {
            return {
                objData: {
                    userId: '',
                    password: ''
                }
            }
        },
        methods: {
            ...mapActions({
                resetPassword: 'user/resetPassword'
            }),
            update() {
                this.resetPassword(this.objData)
                    .then(() => {
                        this.$notify.success({
                            title: 'Success',
                            message: this.$i('ChangePasswordSuccessful')
                        })
                        this.$emit('close');
                    })
                    .catch(err => {
                        this.$notify.error({
                            title: 'Error',
                            message: err.message
                        })
                    })
            }
        },
        mounted() {
            this.objData.userId = this.data.id
        }
    }
</script>

<style scoped>

</style>
