<template>

</template>

<script>
    export default {
        props: ['id'],
        data() {
            return {
                objData: {

                }
            }
        },
        mounted() {
        }
    }
</script>

<style scoped>

</style>
