<template>
    <div v-loading="loading">
        <div v-if="objData">
            <div class="form-group">
                <label>{{$i('Avatar')}}</label>
                <UploadImage :src="objData.avatar" @upload="objData.avatar = $event" type="avatar"/>
            </div>
            <div class="form-group">
                <label>{{$i('UserName')}}</label>
                <input type="text" class="form-control" v-model="objData.userName" :disabled="data">
            </div>
            <div class="form-group">
                <label>{{$i('FullName')}}</label>
                <input type="text" class="form-control" v-model="objData.fullName">
            </div>
            <div class="form-group" v-if="!data">
                <label>{{$i('Password')}}</label>
                <input type="text" class="form-control" v-model="objData.password">
            </div>
            <div class="form-group" v-if="!data">
                <label>{{$i('Email')}}</label>
                <input type="text" class="form-control" v-model="objData.email">
            </div>
            <div class="form-group">
                <label>{{$i('Mobile')}}</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <select class="form-control" v-model="code">
                            <option v-for="(v, k) in listInterCode" :key="'inter_code_'+k" :value="v.code">{{v.code}}
                            </option>
                        </select>
                    </div>
                    <input type="text" class="form-control" v-model="objData.mobile">
                </div>
            </div>
            <div class="form-group">
                <label>{{$i('Role')}}</label>
                <select class="form-control" v-model="objData.roleId">
                    <option v-for="(v, k) in listRole" :key="'role_'+k" :value="v.id">{{v.roleName}}</option>
                </select>
            </div>
            <div class="form-group">
                <button class="btn btn-primary" @click="update">{{$i('Update')}}</button>
            </div>
        </div>
    </div>
</template>

<script>
    import {mapActions} from 'vuex'

    export default {
        props: ['data'],
        components: {
            UploadImage: () => import('~/components/Share/UploadImage')
        },
        data() {
            return {
                objData: {
                    id: '',
                    userName: '',
                    fullName: '',
                    password: '',
                    mobile: '',
                    email: '',
                    avatar: '',
                    roleId: '',
                },
                code: '',
                loading: '',
                listRole: [],
                listInterCode: []
            }
        },
        methods: {
            ...mapActions({
                save: 'user/save',
                add: 'user/add',
                getListRole: 'role/getList',
                searchInternationalCode: 'resource/internationalCode/searchInternationalCode',
            }),
            async getData() {
                this.loading = true;
                await this.onGetListRole();
                await this.onGetInternationalCode();
                this.loading = false;
            },
            update() {
                let obj = {...this.objData};
                let path =  'add'
                let message = 'AddUserSuccessful'
                if (this.data) {
                    path =  'save'
                    message = 'UpdateUserSuccessful'
                }
                if (this.code) {
                    obj.mobile = this.code + obj.mobile;
                }
                this[path](obj)
                    .then(() => {
                        this.$notify.success({
                            title: 'Success',
                            message: this.$i(message)
                        })
                        this.$emit('close');
                    })
                    .catch(err => {
                        this.$notify.error({
                            title: 'Error',
                            message: err.message
                        })
                    })
            },
            async onGetListRole() {
                this.getListRole()
                    .then(res => {
                        this.listRole = [...res.data];
                    })
                    .catch(err => {
                        this.$notify.error({
                            message: err.message,
                            type: 'success'
                        });
                    })
            },
            async onGetInternationalCode() {
                let objData = {
                    status: 1,
                    pageIndex: 1,
                    pageSize: 10,
                };
                this.searchInternationalCode(objData)
                    .then(res => {
                        this.listInterCode = [...res.data];
                    })
                    .catch(err => {
                        this.$notify.error({
                            message: err.message,
                            type: 'success'
                        });
                    })
            }
        },
        mounted() {
            if (this.data) {
                this.objData = this.data;
            }
            this.getData();
        }
    }
</script>

<style scoped>

</style>
