<template>
    <div>
        <el-page-header class="mb-3" @back="$router.push('/')" :content="$i('Role')"></el-page-header>
        <el-card>
            <div class="form-group">
                <el-button type="primary" size="medium" @click="onShowDialogCreateOrUpdate(0)">{{$i('Add')}}</el-button>
            </div>
            <div class="form-group">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>{{$i('Index')}}</th>
                        <th>{{$i('Role')}}</th>
                        <th class="text-center" width="300">{{$i('Action')}}</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="(v, k) in data" :key="k">
                        <td>{{k + 1}}</td>
                        <td>{{v.roleName}}</td>
                        <td class="text-center">
                            <div v-if="v.isSystem">----</div>
                            <div v-else>
                                <el-tooltip class="item" effect="dark" :content="$i('DeleteRole')" placement="left">
                                    <el-button icon="el-icon-close" circle type="danger"
                                               @click="onDelete(v.id)"></el-button>
                                </el-tooltip>
                                <el-tooltip class="item" effect="dark" :content="$i('UpdatePermission')"
                                            placement="top">
                                    <el-button icon="el-icon-setting" circle type="primary"
                                               @click="onShowDialogUpdatePermission(v)"></el-button>
                                </el-tooltip>
                                <el-tooltip class="item" effect="dark" :content="$i('UpdateRole')" placement="right">
                                    <el-button icon="el-icon-edit" circle type="info"
                                               @click="onShowDialogCreateOrUpdate(v)"></el-button>
                                </el-tooltip>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </el-card>
        <el-dialog v-if="dialogUpdate" :visible.sync="dialogUpdate" :title="$i('UpdateRole')" width="40%">
            <CreateOrEdit :data="objDataUpdate" @close="dialogUpdate = false, getRole()"/>
        </el-dialog>
        <el-dialog v-if="dialogUpdatePermission" :visible.sync="dialogUpdatePermission"
                   :title="$i('Decentralization') + ': ' + objDataUpdate.roleName" width="60%">
            <UpdatePermission :id="objDataUpdate.id" @close="dialogUpdatePermission = false"/>
        </el-dialog>
    </div>
</template>

<script>
    import {mapActions} from 'vuex'

    export default {
        components: {
            UpdatePermission: () => import('~/components/Role/UpdatePermission'),
            CreateOrEdit: () => import('~/components/Role/CreateOrEdit'),
        },
        data() {
            return {
                data: null,
                dialogUpdate: false,
                dialogUpdatePermission: false,
                objDataUpdate: null,
            }
        },
        methods: {
            ...mapActions({
                getListRole: 'role/getList',
                remove: 'role/remove',
            }),
            getRole() {
                this.getListRole()
                    .then(res => {
                        this.data = res.data;
                    })
                    .catch(err => {
                        this.$notify.error({
                            message: err.message,
                            type: 'success'
                        });
                    })
            },
            onDelete(id) {
                this.$confirm('DoYouWantDelete', 'Warning', {
                    type: 'warning'
                }).then(() => {
                    this.remove({id: id})
                        .then(res => {
                            this.$notify({
                                type: 'success',
                                message: this.$i('DeleteCompleted')
                            });
                        })
                        .catch(err => {
                            this.$notify({
                                type: 'error',
                                message: err.message
                            });
                        })
                }).finally(() => {
                    this.getRole();
                })
            },
            onShowDialogUpdatePermission(value) {
                this.objDataUpdate = value;
                this.dialogUpdatePermission = true;
            },
            onShowDialogCreateOrUpdate(value) {
                if (!value) {
                    this.objDataUpdate = {
                        id: '',
                        roleName: ''
                    }
                } else {
                    this.objDataUpdate = value;
                }
                this.dialogUpdate = true;
            }
        },
        mounted() {
            this.getRole();
        }
    }
</script>

