<template>
    <div class="row" v-loading="!objData" v-if="objData">
        <div class="col-12">
            <div class="form-group">
                <label>{{$i('NameGroup')}}</label>
                <el-input v-model="objData.roleName"></el-input>
            </div>
            <div class="form-group">
                <el-button type="primary" @click="onCreateOrUpdate">{{$i('Update')}}</el-button>
            </div>
        </div>
    </div>
</template>

<script>
    import {mapActions} from 'vuex'

    export default {
        data() {
            return {
                objData: null,
            }
        },
        props: {
            data: {
                type: Object
            }
        },
        methods: {
            ...mapActions({
                update: 'role/update',
                add: 'role/add',
            }),
            onCreateOrUpdate() {
                let path = 'add';
                let message = 'AddSuccessfully'
                if (this.objData.id) {
                    path = 'update';
                    message = 'UpdateSuccessfully';
                }
                this[path](this.objData)
                    .then(() => {
                        this.$notify.success({
                            message: this.$i(message),
                            type: 'success'
                        });
                        this.$emit('close')
                    })
                    .catch(err => {
                        this.$notify.error({
                            message: err.message,
                            type: 'success'
                        });
                    })
            },
        },
        mounted() {
            this.objData = this.data;
        }
    }
</script>

<style scoped>

</style>
