<template>
    <div>
        <div class="row">
            <div class="col-6">
                <div class="form-group">
                    <div class="form-check">
                        <label class="form-check-label">
                            <input type="checkbox" class="form-check-input" v-model="checkAll">{{$i('CheckAll')}}
                            <i class="input-helper"></i></label>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="form-group">
                    <div class="form-check">
                        <label class="form-check-label">
                            <input type="checkbox" class="form-check-input" v-model="objData.isUpdateMember">{{$i('UpdateUserRightsAgain')}}
                            <i class="input-helper"></i></label>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6" v-for="(v, k) in data" :key="k">
                <div class="form-group">
                    <h5>{{v.name}}</h5>
                </div>
                <div class="form-group" v-for="(item, key) in v.permissions" :key="'permission' + key">
                    <div class="form-check">
                        <label class="form-check-label">
                            <input type="checkbox" class="form-check-input" :value="item.id"
                                   v-model="objData.permissionIds">
                            {{item.name}}
                            <i class="input-helper"></i></label>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <el-button type="primary" @click="onUpdate">{{$i('Update')}}</el-button>
        </div>
    </div>
</template>

<script>
    import {mapActions} from 'vuex'

    export default {
        data() {
            return {
                data: null,
                checkAll: false,
                objData: {
                    roleId: '',
                    permissionIds: [],
                    isUpdateMember: false
                }
            }
        },
        props: ['id'],
        watch: {
            checkAll() {
                this.objData.permissionIds = [];
                if (!this.checkAll) return;
                return this.data.map(i => {
                    return i.permissions.map(j => {
                        this.objData.permissionIds.push(j.id);
                    })
                })
            }
        },
        methods: {
            ...mapActions({
                permissionListByRole: 'role/permissionListByRole',
                updatePermission: 'role/updatePermission',
            }),
            getPermissionListByRole() {
                this.permissionListByRole({roleId: this.id})
                    .then(res => {
                        this.data = res.data;
                        this.data.map(i => {
                            return i.permissions.map(j => {
                                if (j.isExists === 0) return;
                                return this.objData.permissionIds.push(j.id)
                            })
                        })
                    })
                    .catch(err => {
                        this.$notify.error({
                            message: err.message,
                            type: 'success'
                        });
                    })
            },
            onUpdate() {
                this.updatePermission(this.objData)
                    .then(() => {
                        this.$notify.success({
                            title: this.$i('Success'),
                            message: this.$i('UpdatePermissionSuccessfully'),
                            type: 'success'
                        });
                        this.$emit('close');
                    })
                    .catch(err => {
                        this.$notify.error({
                            message: err.message,
                            type: 'success'
                        });
                    })
            },
        },
        mounted() {
            this.objData.roleId = this.id;
            this.getPermissionListByRole();
        }
    }
</script>

<style scoped>

</style>
