.el-side-bar {
  position: fixed;
}

.el-header {
  line-height: 60px;
}

.el-main {
  background-color: #f0f4f8;
  color: #000;
}

.el-menu-vertical:not(.el-menu--collapse) {
  width: 200px;
}

.el-menu-vertical {
  overflow: auto;
  height: 100vh;
}

.el-menu {
  border-right: 0;
}

.el-aside {
  transition: all .5s;
  color: #333;
}
.el-menu-item, .el-submenu__title {
  font-size: 13px !important;
}
.el-input__inner {
  font-size: 12px;
}
