<template>
    <div>
        <el-page-header class="mb-3" @back="$router.push('/')" :content="$i('Config')"></el-page-header>
        <el-card>

        </el-card>
    </div>
</template>

<script>
    export default {

    }
</script>

