<template>
    <div>
        <el-page-header class="mb-3" @back="$router.push('/')" :content="$i('Category')"></el-page-header>
        <el-card>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-2">
                        <input type="text" class="form-control" v-model="objData.name" :placeholder="$i('Keyword')">
                    </div>
                    <div class="col-md-2">
                        <select v-model="objData.groupId" class="form-control">
                            <option :value="-1">{{$i('CategoryGroup')}}</option>
                            <option v-for="(v, k) in dataCategoryGroup" :key="'category_group_'+k" :value="v.id">
                                {{v.name}}
                            </option>
                        </select>
                    </div>
                    <div class="col-md-2">
                        <select v-model="objData.status" class="form-control">
                            <option value="-1">{{$i('Status')}}</option>
                            <option value="0">{{$i('Hide')}}</option>
                            <option value="1">{{$i('Show')}}</option>
                        </select>
                    </div>
                    <div class="col-md-2">
                        <el-button type="primary" size="medium" @click="onShowDialogCreateOrUpdate(0)">{{$i('Add')}}
                        </el-button>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>{{$i('Index')}}</th>
                        <th>{{$i('Cover')}}</th>
                        <th>{{$i('Name')}}</th>
                        <th>{{$i('CategoryGroup')}}</th>
                        <th>{{$i('Order')}}</th>
                        <th class="text-center" width="100">{{$i('Active')}}</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="(v, k) in data" :key="k">
                        <td>{{v.rowNum}}</td>
                        <td><img :src="v.cover50"></td>
                        <td><a href="javascript:" @click="onShowDialogCreateOrUpdate(v.id)">{{v.name}}</a></td>
                        <td>{{v.groupName}}</td>
                        <td>{{v.order}}</td>
                        <td class="text-center">
                            <el-switch :value="v.status == 1" @change="onChangeStatus(v)"></el-switch>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <el-pagination background
                               @current-change="objData.pageIndex = $event"
                               :total="totalRow"
                               :page-count="objData.pageIndex"
                               :pageSize="objData.pageSize"/>
            </div>
        </el-card>
        <el-dialog v-if="dialog" :visible.sync="dialog" :title="$i(titleDialog)" width="60%">
            <CreateOrUpdate :id="id" @close="dialog = false"/>
        </el-dialog>
    </div>
</template>

<script>
    import {mapActions} from 'vuex'

    export default {
        data() {
            return {
                objData: {
                    name: '',
                    groupId: -1,
                    status: 1,
                    pageIndex: 1,
                    pageSize: 10,
                },
                data: null,
                dataCategoryGroup: null,
                dialog: false,
                titleDialog: '',
                id: 0,
                totalRow: 0
            }
        },
        components: {
            CreateOrUpdate: () => import('~/components/Community/Category/CreateOrUpdate')
        },
        watch: {
            'objData.name'(val) {
                this.onWatchData(val)
            },
            'objData.status'() {
                this.getData();
            },
            'objData.pageIndex'() {
                this.getData();
            },
            'objData.groupId'() {
                this.getData();
            }
        },
        methods: {
            ...mapActions({
                searchCategoryGroup: 'community/categoryGroup/searchCategoryGroup',
                searchCategory: 'community/category/searchCategory',
                updateCategory: 'community/category/updateCategory',
            }),
            getData() {
                this.searchCategory(this.objData)
                    .then(res => {
                        this.data = res.data;
                        this.totalRow = res.totalRow
                    })
                    .catch(err => {
                        this.$notify.error({
                            message: err.message,
                            type: 'success'
                        });
                    })
            },
            getCategoryGroup() {
                let obj = {
                    status: 1,
                    pageIndex: 1,
                    pageSize: 100,
                }
                this.searchCategoryGroup(obj)
                    .then(res => {
                        this.dataCategoryGroup = res.data
                    })
                    .catch(err => {
                        this.$notify.error({
                            message: err.message,
                            type: 'success'
                        });
                    })
            },
            onWatchData(val) {
                clearTimeout(this.timeDelay);
                this.timeDelay = setTimeout(() => {
                    this.objData.name = val
                    this.getData();
                }, 500)
            },
            onChangeStatus(obj) {
                obj.status = obj.status == 0 ? 1 : 0;
                this.updateCategory(obj)
                    .then(() => {
                        this.$notify({
                            type: 'success',
                            title: 'Success',
                            message: this.$i('ChangeSuccessfully')
                        });
                        this.getData();
                    })
                    .catch(err => {
                        this.$notify.error({
                            message: err.message,
                            type: 'success'
                        });
                    })
            },
            onShowDialogCreateOrUpdate(id) {
                this.titleDialog = id ? 'UpdateCategory' : 'CreateCategory'
                this.id = id;
                this.dialog = true;
            }
        },
        mounted() {
            this.getCategoryGroup();
            this.getData();
        }
    }
</script>

<style scoped>

</style>
