<template>
    <div v-if="objData">
        <div class="form-group">
            <label>{{$i('Name')}}</label>
            <input type="text" class="form-control" v-model="objData.name">
        </div>
        <div class="form-group" v-if="objData.hasOwnProperty('code')">
            <label>{{$i('Code')}}</label>
            <input type="text" class="form-control" v-model="objData.code">
        </div>
        <div class="form-group">
            <label>{{$i('Order')}}</label>
            <input type="text" class="form-control" v-model="objData.order">
        </div>
        <div class="form-group" v-if="objData.hasOwnProperty('isDefault')">
            <label>{{$i('IsDefault')}}</label>
            <select class="form-control" v-model="objData.isDefault">
                <option value="0">{{$i('IsNotDefault')}}</option>
                <option value="1">{{$i('IsDefault')}}</option>
            </select>
        </div>
        <div class="form-group" v-if="objData.hasOwnProperty('addressType')">
            <label>{{$i('AddressType')}}</label>
            <select class="form-control" v-model="objData.addressType">
                <option value="1">{{$i('AddressTypeForeign')}}</option>
                <option value="2">{{$i('AddressTypeForeign')}}</option>
            </select>
        </div>
        <div class="form-group" v-if="objData.id">
            <label>{{$i('Status')}}</label>
            <select class="form-control" v-model="objData.status">
                <option :value="0">{{$i('Hide')}}</option>
                <option :value="1">{{$i('Show')}}</option>
            </select>
        </div>
        <div class="form-group">
            <button class="btn btn-primary" @click="onCreateOrUpdate">
                {{objData.id > 0 ? $i('Update') : $i('Save')}}
            </button>
        </div>
    </div>
</template>

<script>
    export default {
        props: {
            data: Object,
            add: Function,
            update: Function
        },
        data() {
            return {
                objData: null
            }
        },
        methods: {
            onCreateOrUpdate() {
                let path = 'add';
                let message = 'AddSuccessfully'
                if (this.objData.id) {
                    path = 'update';
                    message = 'UpdateSuccessfully';
                }
                this[path](this.objData)
                    .then(() => {
                        this.$notify.success({
                            message: this.$i(message),
                            type: 'success'
                        });
                        this.$emit('close')
                    })
                    .catch(err => {
                        this.$notify.error({
                            message: err.message,
                            type: 'success'
                        });
                    })
            }
        },
        mounted() {
            this.objData = this.data
        }
    }
</script>

<style scoped>

</style>
