<template>
    <el-upload class="avatar-uploader"
               :class="type"
               :action="'/upload'"
               name="files"
               :http-request="request"
               :before-upload="beforeUpload"
               :on-success="handleSuccess"
               :on-remove="handleRemove"
               :multiple="false"
               :show-file-list="false"
               :file-list="fileList">
        <img v-if="imageUrl || src" :src="imageUrl || src">
        <i v-else class="el-icon-plus avatar-uploader-icon"></i>
    </el-upload>
</template>

<script>
    import {mapGetters} from 'vuex'
    import config from '../../config';
    import imageCompression from 'browser-image-compression';

    export default {
        props: {
            src: {
                type: String
            },
            type: {
                type: String,
                default: 'avatar-img'
            },
            maxWidthHeight: {
                type: Number,
                default: 600
            }
        },
        data() {
            return {
                imageUrl: ''
            }
        },
        computed: {
            ...mapGetters(['appSettings']),
            fileList() {
                if (!this.src) return;
                return [{name: this.src, url: this.src}]
            }
        },
        methods: {
            handleRemove() {
                this.imageUrl = '';
                return this.$emit('upload', null)
            },
            handleSuccess(res, file) {
                this.imageUrl = URL.createObjectURL(file.raw);
                return this.$emit('upload', res.data[0]);
            },
            beforeUpload(file) {
                const isType = file.type === 'image/jpeg' || file.type === 'image/png';
                if (!isType) {
                    this.$message('Image must be JPG or PNG format!', 'error');
                }
                return isType;
            },
            request(req) {
                const options = {
                    maxSizeMB: Number.POSITIVE_INFINITY,
                    maxWidthOrHeight: this.maxWidthHeight,
                    useWebWorker: true,
                    maxIteration: 10
                }
                imageCompression(req.file, options)
                    .then(res => {
                        var xhr, formData;
                        xhr = new XMLHttpRequest();
                        xhr.withCredentials = false;
                        xhr.open('POST', config.api.url + '/upload');
                        xhr.setRequestHeader('secret_key', config.secret_key);
                        // xhr.setRequestHeader('Authorization', 'Bearer ' + localStorage.getItem(CONSTANTS.ACCESS_TOKEN));
                        xhr.onload = () => {
                            var json;
                            if (xhr.status != 200) {
                                this.$notify.error({
                                    message: 'HTTP Error: ' + xhr.status,
                                    type: 'success'
                                });
                                return;
                            }
                            json = JSON.parse(xhr.responseText);
                            this.imageUrl = URL.createObjectURL(res);
                            return this.$emit('upload', json.data[0])
                        };
                        formData = new FormData();
                        formData.append('files', res, req.file.name);
                        xhr.send(formData);
                    })
            }
        },
        created() {
            this.imageUrl = this.src;
        }
    }
</script>

<style>
    .avatar-uploader .el-upload {
        border: 1px dashed #d9d9d9;
        border-radius: 6px;
        cursor: pointer;
        position: relative;
        overflow: hidden;
    }

    .avatar-img .el-upload {
        width: 100%;
    }

    .avatar-uploader .el-upload:hover {
        border-color: #409EFF;
    }

    .avatar-uploader-icon {
        font-size: 28px;
        color: #8c939d;
        text-align: center;
    }

    .avatar-img .avatar-uploader-icon {
        width: 200px;
        height: 200px;
        line-height: 200px !important;
    }

    .avatar .avatar-uploader-icon {
        width: 150px;
        height: 150px;
        line-height: 150px !important;
    }

    .avatar-img img {
        height: 200px;
        object-fit: cover;
    }

    .avatar img {
        width: 150px;
        height: 150px;
        display: block;
        object-fit: cover;
    }
</style>
