<template>
    <div>
        <el-page-header class="mb-3" @back="$router.push('/')" :content="$i('User')"></el-page-header>
        <el-card v-loading="loading">
            <div class="form-group">
                <el-button type="primary" size="medium" @click="onUpdateUser(0)">{{$i('Add')}}</el-button>
            </div>
            <div class="form-group">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>{{$i('Index')}}</th>
                        <th>{{$i('UserName')}}</th>
                        <th>{{$i('FullName')}}</th>
                        <th>{{$i('CreatedDate')}}</th>
                        <th>{{$i('Role')}}</th>
                        <th class="text-center" width="300">{{$i('Action')}}</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="(v, k) in data" :key="k">
                        <td>{{v.rowNum}}</td>
                        <td>{{v.userName}}</td>
                        <td>{{v.fullName}}</td>
                        <td>{{v.createdDate | moment('DD/MM/YYYY')}}</td>
                        <td>{{v.roleId}}</td>
                        <td class="text-center">
                            <div>
                                <el-tooltip class="item" effect="dark" :content="$i('PermissionUser')" placement="left">
                                    <el-button icon="el-icon-setting" circle type="danger"
                                               @click="onChangePermission(v.id)"></el-button>
                                </el-tooltip>
                                <el-tooltip class="item" effect="dark" :content="$i('UpdateUser')"
                                            placement="top">
                                    <el-button icon="el-icon-edit" circle type="primary"
                                               @click="onUpdateUser(v)"></el-button>
                                </el-tooltip>
                                <el-tooltip class="item" effect="dark" :content="$i('ChangePassword')" placement="right">
                                    <el-button icon="el-icon-refresh-right" circle type="info"
                                               @click="onChangePassword(v)"></el-button>
                                </el-tooltip>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </el-card>
        <el-dialog v-if="dialog == 'ChangePassword'" :visible="dialog == 'ChangePassword'"
                   @close="dialog = ''" :title="$i('ChangePassword') + ': ' + objDataUpdate.fullName" width="40%">
            <ChangePassword :data="objDataUpdate" @close="dialog = ''"/>
        </el-dialog>
        <el-dialog v-if="dialog == 'UpdateUser'" :visible="dialog == 'UpdateUser'"
                   @close="dialog = ''" :title="$i('UpdateUser')" width="40%">
            <UpdateUser :data="objDataUpdate" @close="dialog = '', getUser()"/>
        </el-dialog>
        <el-dialog v-if="dialog == 'PermissionUser'" :visible="dialog == 'PermissionUser'"
                   @close="dialog = ''" :title="$i('PermissionUser')" width="60%">
            <PermissionUser :id="objDataUpdate" @close="dialog = ''"/>
        </el-dialog>
    </div>
</template>

<script>
    import {mapActions} from 'vuex'

    export default {
        components: {
            ChangePassword: () => import('~/components/User/ChangePassword'),
            UpdateUser: () => import('~/components/User/UpdateUser'),
            PermissionUser: () => import('~/components/User/PermissionUser'),
        },
        data() {
            return {
                objData: {
                    keyword: '',
                    status: 1,
                    page_index: 1,
                    page_size: 10,
                },
                objDataUpdate: null,
                data: null,
                loading: false,
                dialog: ''
            }
        },
        methods: {
            ...mapActions({
                search: 'user/search',
            }),
            async getUser() {
                this.loading = true;
                await this.search(this.objData)
                    .then(res => {
                        this.data = res.data;
                    })
                    .catch(err => {
                        this.$notify.error({
                            message: err.message,
                            type: 'success'
                        });
                    })
                this.loading = false;
            },
            onChangePassword(value) {
                this.objDataUpdate = value;
                this.dialog = 'ChangePassword';
            },
            onUpdateUser(value) {
                this.objDataUpdate = null;
                if (value) this.objDataUpdate = value;
                this.dialog = 'UpdateUser';
            },
            onChangePermission(id) {
                this.objDataUpdate = id;
                this.dialog = 'PermissionUser';
            }
        },
        mounted() {
            this.getUser();
        }
    }
</script>

