<template>
    <div>
        <el-page-header class="mb-3" @back="$router.push('/')" :content="$i('Job')"></el-page-header>
        <el-card>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-2">
                        <input type="text" class="form-control" v-model="objData.name" :placeholder="$i('Keyword')">
                    </div>
                    <div class="col-md-2">
                        <select v-model="objData.status" class="form-control">
                            <option value="-1">{{$i('All')}}</option>
                            <option value="0">{{$i('Hide')}}</option>
                            <option value="1">{{$i('Show')}}</option>
                        </select>
                    </div>
                    <div class="col-md-2">
                        <el-button type="primary" size="medium" @click="onShowDialogCreateOrUpdate(0)">{{$i('Add')}}
                        </el-button>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>{{$i('Index')}}</th>
                        <th>{{$i('Name')}}</th>
                        <th>{{$i('Order')}}</th>
                        <th class="text-center" width="100">{{$i('Active')}}</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="(v, k) in data" :key="k">
                        <td>{{v.rowNum}}</td>
                        <td><a href="javascript:" @click="onShowDialogCreateOrUpdate(v)">{{v.name}}</a></td>
                        <td>{{v.order}}</td>
                        <td class="text-center">
                            <el-switch :value="v.status == 1" @change="onChangeStatus(v)"></el-switch>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <el-pagination background
                               @current-change="objData.pageIndex = $event"
                               :total="totalRow"
                               :page-count="objData.pageIndex"
                               :pageSize="objData.pageSize" />
            </div>
        </el-card>
        <el-dialog v-if="dialog" :visible.sync="dialog" :title="$i(titleDialog)" width="60%">
            <CreateOrUpdate :data="objDataUpdate"
                            @close="dialog = false"
                            :add="addJob"
                            :update="updateJob"/>
        </el-dialog>
    </div>
</template>

<script>
    import {mapActions} from 'vuex'

    export default {
        data() {
            return {
                objData: {
                    name: '',
                    status: 1,
                    pageIndex: 1,
                    pageSize: 10,
                },
                objDataUpdate: null,
                data: null,
                dialog: false,
                titleDialog: '',
                totalRow: 0
            }
        },
        components: {
            CreateOrUpdate: () => import('~/components/Share/CreateOrUpdate')
        },
        watch: {
            'objData.name'(val) {
                this.onWatchData(val)
            },
            'objData.status'() {
                this.getData();
            },
            'objData.pageIndex'() {
                this.getData();
            }
        },
        methods: {
            ...mapActions({
                searchJob: 'resource/job/searchJob',
                updateJob: 'resource/job/updateJob',
                addJob: 'resource/job/addJob',
            }),
            getData() {
                this.searchJob(this.objData)
                    .then(res => {
                        this.data = res.data;
                        this.totalRow = res.totalRow
                    })
                    .catch(err => {
                        this.$notify.error({
                            message: err.message,
                            type: 'success'
                        });
                    })
            },
            onWatchData(val) {
                clearTimeout(this.timeDelay);
                this.timeDelay = setTimeout(() => {
                    this.objData.name = val
                    this.getData();
                }, 500)
            },
            onChangeStatus(obj) {
                obj.status = obj.status == 0 ? 1 : 0;
                this.updateJob(obj)
                    .then(() => {
                        this.$notify({
                            type: 'success',
                            title: 'Success',
                            message: this.$i('ChangeSuccessfully')
                        });
                        this.getData();
                    })
                    .catch(err => {
                        this.$notify.error({
                            message: err.message,
                            type: 'success'
                        });
                    })
            },
            onShowDialogCreateOrUpdate(value) {
                this.titleDialog = 'CreateJob'
                this.objDataUpdate = {
                    id: '',
                    name: '',
                    order: ''
                }
                if (value) {
                    this.objDataUpdate = value;
                    this.titleDialog = 'UpdateJob'
                }
                this.dialog = true;
            }
        },
        mounted() {
            this.getData();
        }
    }
</script>

<style scoped>

</style>
