<template>
    <el-container>
        <SideBar @onChangeCollapse="isCollapse = $event" :isCollapse="isCollapse"/>
        <el-container class="is-vertical" style="transition: all .5s"
                      :style="{marginLeft: isCollapse ? '70px' : '200px'}">
            <Header :isCollapse="isCollapse"/>
            <el-main style="margin-top: 60px">
                <nuxt/>
            </el-main>
        </el-container>
    </el-container>
</template>

<script>
    import {mapActions} from 'vuex'

    export default {
        components: {
            Header: () => import('~/components/Header/index'),
            SideBar: () => import('~/components/SideBar/index'),
        },
        data() {
            return {
                isCollapse: false
            }
        },
        methods: {
            ...mapActions({
                fetchUser: 'auth/fetchUser',
                getInit: 'init/getInit'
            }),
            // onGetInit() {
            //     let cookies = this.$auth.$storage.getCookies();
            //     console.log(cookies['auth.staticTexts']);
            //     if (!cookies['auth.configs'] || !cookies['auth.languages'] || !cookies['auth.staticTexts']) return;
            //     console.log('init');
            //     this.getInit();
            // }
        },
        mounted() {
            this.fetchUser();
            this.getInit();
        }
    };
</script>
