<template>
    <div v-if="objData">
        <el-page-header class="mb-3" @back="$router.push('/member/memberAuto')"
                        :content="$i('Detail') + ': ' + objData.nickName"></el-page-header>
        <div class="m-b-20" v-if="listResource">
            <div class="row">
                <div class="col-md-6">
                    <el-card class="box-card">
                        <div slot="header">{{$i('Infomations')}}</div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-4">{{$i('NickName')}}</div>
                                <div class="col-md-8">{{objData.nickName}}</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-4">{{$i('Email')}}</div>
                                <div class="col-md-8">{{objData.email}}</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-4">{{$i('Mobile')}}</div>
                                <div class="col-md-8">{{objData.mobile}}</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-4">{{$i('Gender')}}</div>
                                <div class="col-md-8">{{objData.gender == 1 ? $i('Male') : $i('Female')}}</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-4">{{$i('Birthday')}}</div>
                                <div class="col-md-8">{{objData.birthday | moment('DD/MM/YYYY')}}</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-4">{{$i('Height')}}</div>
                                <div class="col-md-8">{{objData.height}}</div>
                            </div>
                        </div>
                    </el-card>
                </div>
                <div class="col-md-6">
                    <el-card>
                        <div slot="header">{{$i('Introduce')}}</div>
                        <div class="card-body">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-4">{{$i('Title')}}</div>
                                    <div class="col-md-8">{{objData.title}}</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-4">{{$i('Description')}}</div>
                                    <div class="col-md-8">{{objData.description}}</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-4">{{$i('CareerName')}}</div>
                                    <div class="col-md-8">{{objData.careerName}}</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-4">{{$i('SchoolName')}}</div>
                                    <div class="col-md-8">{{objData.schoolName}}</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-4">{{$i('Address')}}</div>
                                    <div class="col-md-8">
                                        <el-tooltip
                                                class="item"
                                                effect="dark"
                                                :content="onFilterReource(objData.addressId, 'address').addressType == 1 ? $i('Japanese') : $i('Foreign')"
                                                placement="right">
                                            <div class="d-inline">
                                                {{onFilterReource(objData.addressId, 'address').name}}
                                            </div>
                                        </el-tooltip>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </el-card>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-md-6">
                    <el-card>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-4">{{$i('ReferenceSource')}}</div>
                                <div class="col-md-8">{{onFilterReource(objData.referenceSourceId,
                                    'referenceSource').name}}
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-4">{{$i('Job')}}</div>
                                <div class="col-md-8">{{onFilterReource(objData.jobId, 'job').name}}</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-4">{{$i('Holiday')}}</div>
                                <div class="col-md-8">{{onFilterReource(objData.holidayId, 'holiday').name}}</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-4">{{$i('LiveWith')}}</div>
                                <div class="col-md-8">{{onFilterReource(objData.liveWithId, 'liveWith').name}}</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-4">{{$i('Children')}}</div>
                                <div class="col-md-8">{{onFilterReource(objData.childrenId, 'children').name}}</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-4">{{$i('ChildrenDesire')}}</div>
                                <div class="col-md-8">{{onFilterReource(objData.childrenDesireId,
                                    'childrenDesire').name}}
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-4">{{$i('Marriage')}}</div>
                                <div class="col-md-8">{{onFilterReource(objData.marriageId, 'marriage').name}}</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-4">{{$i('WhenMarry')}}</div>
                                <div class="col-md-8">{{onFilterReource(objData.whenMarryId, 'whenMarry').name}}
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-4">{{$i('Income')}}</div>
                                <div class="col-md-8">{{onFilterReource(objData.incomeId, 'income').name}}</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-4">{{$i('Cigarette')}}</div>
                                <div class="col-md-8">{{onFilterReource(objData.cigaretteId, 'cigarette').name}}
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-4">{{$i('Education')}}</div>
                                <div class="col-md-8">{{onFilterReource(objData.educationId, 'education').name}}
                                </div>
                            </div>
                        </div>
                    </el-card>
                </div>
                <div class="col-md-6">
                    <el-card>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-4">{{$i('National')}}</div>
                                <div class="col-md-8">{{onFilterReource(objData.nationalId, 'national').name}}</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-4">{{$i('PayForFirstTime')}}</div>
                                <div class="col-md-8">{{onFilterReource(objData.payForFirstTimeId,
                                    'payForFirstTime').name}}
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-4">{{$i('DatingDesire')}}</div>
                                <div class="col-md-8">{{onFilterReource(objData.datingDesireId,
                                    'datingDesire').name}}
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-4">{{$i('Blood')}}</div>
                                <div class="col-md-8">{{onFilterReource(objData.bloodId, 'blood').name}}</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-4">{{$i('Body')}}</div>
                                <div class="col-md-8">{{onFilterReource(objData.bodyId, 'body').name}}</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-4">{{$i('FamilyRelation')}}</div>
                                <div class="col-md-8">{{onFilterReource(objData.familyRelationId,
                                    'familyRelation').name}}
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-4">{{$i('Wine')}}</div>
                                <div class="col-md-8">{{onFilterReource(objData.wineId, 'wine').name}}</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-4">{{$i('MemberInLanguage')}}</div>
                                <div class="col-md-8">
                                        <span v-for="(i, k) in objData.memberInLanguage"
                                              :key="'memberInLanguage' + k"
                                              class="badge badge-primary mr-3"
                                        >{{i.name}}</span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-4">{{$i('MemberInStyle')}}</div>
                                <div class="col-md-8">
                                        <span v-for="(i, k) in objData.memberInStyle"
                                              :key="'memberInStyle' + k"
                                              class="badge badge-dark mr-3"
                                        >{{i.name}}</span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-4">{{$i('Hobby')}}</div>
                                <div class="col-md-8">
                                        <span v-for="(i, k) in objData.hobby"
                                              :key="'hobby' + k"
                                              class="badge badge-danger mr-3"
                                        >{{i.hobby}}</span>
                                </div>
                            </div>
                        </div>
                    </el-card>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-12">
                            <el-card>
                                <div slot="header">{{$i('MemberAvatar')}}</div>
                                <div class="card-body d-flex flex-wrap">
                                    <div style="flex-basis: 20%" @click="handleShowDialog('memberAvatar')"
                                         v-for="(i, k) in objData.memberAvatar"
                                         :key="'memberAvatar' + k">
                                        <img :src="i.image50" class="img-thumbnail" style="cursor: pointer">
                                    </div>
                                </div>
                                <el-dialog
                                        :title="$i('MemberAvatar')"
                                        class="text-center"
                                        @close="dialogShowImage = ''"
                                        :visible="dialogShowImage === 'memberAvatar'"
                                        width="80%">
                                    <el-carousel :interval="1000" type="card" height="400px">
                                        <el-carousel-item v-for="(i, k) in objData.memberAvatar"
                                                          :key="'memberAvatar' + k">
                                            <img :src="i.image" alt=""
                                                 style="max-width: 100%; height: auto;object-fit: cover">
                                        </el-carousel-item>
                                    </el-carousel>
                                </el-dialog>
                            </el-card>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-12">
                            <el-card>
                                <div slot="header">{{$i('MemberVideo')}}</div>
                                <div class="card-body d-flex justify-content-start">
                                    <div v-for="(i, k) in objData.memberVideo"
                                         :key="'memberVideo' + k" class="position-relative mr-3">
                                        <video :src="i.video" width="200px"></video>
                                        <i class="el-icon-video-play icon-play-video"
                                           @click="handleShowDialog('video', i.video)"></i>
                                    </div>
                                </div>
                                <el-dialog
                                        v-if="dialogShowImage === 'video'"
                                        :title="$i('MemberVideo')"
                                        class="text-center"
                                        @close="dialogShowImage = '', srcVideo = ''"
                                        :visible="dialogShowImage === 'video'"
                                        width="50%">
                                    <video :src="srcVideo" controls width="100%"></video>
                                </el-dialog>
                            </el-card>
                        </div>
                    </div>

                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-12">
                            <el-card>
                                <div slot="header">{{$i('CommunityInMember')}}</div>
                                <div class="form-group" v-for="(i, k) in getListCommunityInMember"
                                     :key="'CommunityInMember' + k">
                                    <h5>{{i.name}}</h5>
                                    <div class="d-flex flex-wrap">
                                        <div style="flex-basis: 20%;" class="mt-1" v-for="(item, key) in i.community"
                                             :key="'community' + key" @click="handleShowDialog(i.name)">
                                            <img class="img-thumbnail" :src="item.avatar50" style="cursor: pointer">
                                        </div>
                                    </div>
                                    <el-dialog
                                            v-if="dialogShowImage === i.name"
                                            :title="i.name"
                                            class="text-center"
                                            @close="dialogShowImage = ''"
                                            :visible="dialogShowImage === i.name"
                                            width="80%">
                                        <el-carousel :interval="2500" type="card" height="400px"
                                                     @change="setActiveItem">
                                            <el-carousel-item v-for="(item, key) in i.community"
                                                              :key="i.name + key">
                                                <div>
                                                    <div v-if="i.community[setActiveCarosel]" class="title">
                                                        {{i.community[setActiveCarosel].name}}
                                                    </div>
                                                    <img :src="item.avatar400" alt=""
                                                         style="max-width: 100%; height: 300px;object-fit: cover">
                                                </div>
                                            </el-carousel-item>
                                        </el-carousel>
                                    </el-dialog>
                                </div>
                            </el-card>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import {mapActions} from 'vuex'

    export default {
        data() {
            return {
                id: '',
                objData: null,
                listResource: null,
                loading: false,
                dialogShowImage: '',
                setActiveCarosel: '',
                srcVideo: ''
            }
        },
        computed: {
            getListCommunityInMember() {
                return this.objData.communityInMember.filter(i => {
                    if (i.community.length) return i.community;
                })
            },
        },
        methods: {
            ...mapActions({
                detail: 'member/memberAuto/detail',
                getAllResource: 'resource/getAllResource',
            }),
            getDetail() {
                this.detail({memberId: this.id})
                    .then(res => {
                        this.objData = res.data;
                    })
                    .catch(err => {
                        this.$notify.error({
                            message: err.message,
                            type: 'success'
                        });
                    })
            },
            getListAllResource() {
                this.getAllResource()
                    .then(res => {
                        this.listResource = res.data;
                    })
                    .catch(err => {
                        this.$notify.error({
                            message: err.message,
                            type: 'success'
                        });
                    })
            },
            onFilterReource(value, path) {
                return this.listResource[path].find(i => i.id == value)
            },
            handleShowDialog(status, src) {
                this.dialogShowImage = status;
                if (src) this.srcVideo = src
            },
            setActiveItem(name) {
                this.setActiveCarosel = name;
            },
        },
        mounted() {
            this.id = this.$route.params.id;
            this.getListAllResource();
            this.getDetail();
        }
    }
</script>

<style scoped>
    .icon-play-video {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #fff;
        font-size: 30px;
        cursor: pointer;
    }
</style>
