<template>
    <div v-if="objData">
        <div class="form-group">
            <label>{{$i('Cover')}}</label>
            <UploadImage :src="objData.cover" @upload="objData.cover = $event"/>
        </div>
        <div class="form-group">
            <label>{{$i('Name')}}</label>
            <input type="text" class="form-control" v-model="objData.name">
        </div>
        <div class="form-group">
            <label>{{$i('Description')}}</label>
            <input type="text" class="form-control" v-model="objData.description">
        </div>
        <div class="form-group">
            <label>{{$i('CategoryGroup')}}</label>
            <select v-model="objData.groupId" class="form-control">
                <option v-for="(v, k) in dataCategoryGroup" :key="'category_group_'+k" :value="v.id">
                    {{v.name}}
                </option>
            </select>
        </div>
        <div class="form-group">
            <label>{{$i('Order')}}</label>
            <input type="text" class="form-control" v-model="objData.order">
        </div>
        <div class="form-group" v-if="objData.id">
            <label>{{$i('Status')}}</label>
            <select class="form-control" v-model="objData.status">
                <option :value="0">{{$i('Hide')}}</option>
                <option :value="1">{{$i('Show')}}</option>
            </select>
        </div>
        <div class="form-group">
            <button class="btn btn-primary" @click="onCreateOrUpdate">
                {{objData.id > 0 ? $i('Update') : $i('Save')}}
            </button>
        </div>
    </div>
</template>

<script>
    import {mapActions} from 'vuex'

    export default {
        props: ['id'],
        components: {
            UploadImage: () => import('~/components/Share/UploadImage')
        },
        data() {
            return {
                objData: {
                    id: 0,
                    name: '',
                    groupId: '',
                    order: '',
                    cover: '',
                    description: '',
                },
                dataCategoryGroup: null,
            }
        },
        methods: {
            ...mapActions({
                detailCategory: 'community/category/detailCategory',
                updateCategory: 'community/category/updateCategory',
                addCategory: 'community/category/addCategory',
                searchCategoryGroup: 'community/categoryGroup/searchCategoryGroup',
            }),
            getDetail() {
                if (!this.id) return;
                this.detailCategory({id: this.id})
                    .then(res => {
                        this.objData = res.data;
                    })
            },
            getCategoryGroup() {
                let obj = {
                    status: 1,
                    pageIndex: 1,
                    pageSize: 100,
                }
                this.searchCategoryGroup(obj).then(res => {
                    this.dataCategoryGroup = res.data
                })
            },
            onCreateOrUpdate() {
                let path = 'addCategory';
                let message = 'AddSuccessfully'
                if (this.objData.id) {
                    path = 'updateCategory';
                    message = 'UpdateSuccessfully';
                }
                this[path](this.objData)
                    .then(() => {
                        this.$notify.success({
                            message: this.$i(message),
                            type: 'success'
                        });
                        this.$emit('close')
                    })
                    .catch(err => {
                        this.$notify.error({
                            message: err.message,
                            type: 'success'
                        });
                    })
            }
        },
        mounted() {
            this.objData.id = this.id;
            this.getCategoryGroup();
            this.getDetail()
        }
    }
</script>

<style scoped>

</style>
