<template>
    <el-card>
        <div slot="header">{{$i('Language')}}</div>
        <button class="btn btn-primary">{{$i('Add')}}</button>
        <table class="table table-hover">
            <thead>
            <tr>
                <th>{{$i('Index')}}</th>
                <th>{{$i('Code')}}</th>
                <th>{{$i('Name')}}</th>
                <th>{{$i('Priority')}}</th>
                <th>{{$i('Status')}}</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="(v, k) in data" :key="'language_'+k">
                <td>{{k + 1}}</td>
                <td>{{v.code}}</td>
                <td>{{v.name}}</td>
                <td>{{v.priority}}</td>
                <td>
                    <span v-if="v.status == 1" class="badge badge-primary">{{$i('Active')}}</span>
                    <span v-else class="badge badge-danger">{{$i('DeActive')}}</span>
                </td>
            </tr>
            </tbody>
        </table>
    </el-card>
</template>

<script>
    import {mapActions} from 'vuex'

    export default {
        data() {
            return {
                data: null
            }
        },
        methods: {
            ...mapActions({
                list: 'language/list'
            }),
            getData() {
                this.list()
                    .then(res => {
                        this.data = res.data
                    })
                    .catch(err => {
                        this.$notify.error({
                            message: err.message,
                            type: 'success'
                        });
                    })
            }
        },
        mounted() {
            this.getData();
        }
    }
</script>

<style scoped>

</style>
