<template>
    <el-card>
        <div slot="header">{{$i('LanguageStatic')}}</div>
        <button class="btn btn-primary">{{$i('Add')}}</button>
        <table class="table table-hover">
            <thead>
            <tr>
                <th>{{$i('Index')}}</th>
                <th>{{$i('LanguageKey')}}</th>
                <th>{{$i('LanguageValue')}}</th>
                <th>{{$i('Japanese')}}</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="(v, k) in data" :key="'language_'+k">
                <td>{{k + 1}}</td>
                <td>{{v.info.languageKey}}</td>
                <td>{{v.info.languageDefaultValue}}</td>
                <td>{{v.langs.jp}}</td>
            </tr>
            </tbody>
        </table>
    </el-card>
</template>

<script>
    import {mapActions} from 'vuex'

    export default {
        data() {
            return {
                data: null
            }
        },
        methods: {
            ...mapActions({
                listStatic: 'language/listStatic'
            }),
            getData() {
                this.listStatic()
                    .then(res => {
                        this.data = res.data
                    })
                    .catch(err => {
                        this.$notify.error({
                            message: err.message,
                            type: 'success'
                        });
                    })
            }
        },
        mounted() {
            this.getData();
        }
    }
</script>

<style scoped>

</style>
