<template>
    <div>
        <el-page-header class="mb-3" @back="$router.push('/')" :content="$i('QuickSearch')"></el-page-header>
        <el-card>
            <div class="row">
                <div class="col-md-2">
                    <div class="form-group">
                        <el-select size="medium" remote filterable
                                   :remote-method="remoteMethodSuggest"
                                   v-model="resourceId"
                                   :placeholder="$i('Suggest')">
                            <el-option v-for="item in listSuggest"
                                       :key="item.id"
                                       :label="item.name"
                                       :value="item.id">
                            </el-option>
                        </el-select>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <el-button type="primary" size="medium" @click="addSuggest">{{$i('Add')}}</el-button>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>{{$i('Index')}}</th>
                        <th>{{$i('Name')}}</th>
                        <th class="text-center" width="300">{{$i('Action')}}</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="(v, k) in data" :key="k">
                        <td>{{v.rowNum}}</td>
                        <td>{{v.resourceName}}</td>
                        <td class="text-center">
                            <el-tooltip class="item" effect="dark" :content="$i('DeleteSuggest')" placement="right">
                                <el-button icon="el-icon-delete" circle type="danger"
                                           @click="onDelete(v.id)"></el-button>
                            </el-tooltip>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <el-pagination background
                               @current-change="objData.pageIndex = $event"
                               :total="totalRow"
                               :page-count="objData.pageIndex"
                               :pageSize="objData.pageSize"/>
            </div>
        </el-card>
    </div>
</template>

<script>
    import {mapActions} from 'vuex'

    export default {
        data() {
            return {
                objData: {
                    keyword: '',
                    pageIndex: 1,
                    pageSize: 10
                },
                objDataSuggest: {
                    top: 10,
                    keyword: ''
                },
                resourceId: '',
                data: null,
                listSuggest: [],
                totalRow: 0
            }
        },
        watch: {
            'objData.pageIndex'() {
                this.getData();
            }
        },
        methods: {
            ...mapActions({
                search: 'quickSearch/search',
                suggest: 'quickSearch/suggest',
                addQuickSearch: 'quickSearch/addQuickSearch',
                deleteQuickSearch: 'quickSearch/deleteQuickSearch',
            }),
            getData() {
                this.search(this.objData)
                    .then(res => {
                        this.data = res.data;
                        this.totalRow = res.totalRow;
                    })
                    .catch(err => {
                        this.$notify.error({
                            message: err.message,
                            type: 'success'
                        });
                    })
            },
            onDelete(id) {
                this.$confirm('DoYouWantDelete', 'Warning', {
                    type: 'warning'
                }).then(() => {
                    this.deleteQuickSearch({id: id}).then(res => {
                        this.$notify({
                            type: 'success',
                            message: this.$i('DeleteCompleted')
                        });
                    }).catch(err => {
                        this.$notify({
                            type: 'error',
                            message: err.message
                        });
                    })
                }).finally(() => {
                    this.getData();
                })
            },
            remoteMethodSuggest(value) {
                if (value !== '') {
                    setTimeout(() => {
                        this.objDataSuggest.keyword = value;
                        this.suggest(this.objDataSuggest)
                            .then(res => {
                                this.listSuggest = res.data.data;
                            })
                            .catch(err => {
                                this.$notify({
                                    title: 'Error',
                                    message: err.message,
                                    type: 'error'
                                })
                            })
                    }, 200);
                }
            },
            addSuggest() {
                if (!this.resourceId) {
                    return this.$notify({
                        title: 'Error',
                        message: this.$i('ErrorSuggestNotEmpty'),
                        type: 'error'
                    })
                }
                this.addQuickSearch({resourceId: this.resourceId})
                    .then(() => {
                        this.$notify({
                            title: 'Success',
                            message: this.$i('Successful'),
                            type: 'success'
                        })
                        this.getData();
                    }).catch(error => {
                    return this.$notify({
                        title: 'Error',
                        message: error.message,
                        type: 'error'
                    })
                })
            },
        },
        mounted() {
            this.getData();
        }
    }
</script>

<style scoped>

</style>
